.card_title{
	margin-top: 10px;
	font-size: 17px;
	text-align: left;
	margin-left: 5rem;
	font-weight: bold;
	color:rgb(0,0,0,0.7);
	padding-top: 20px;
	line-height: normal;
	padding-left: 20px;
}


.image{
	float:left;
	height: 95px;
	width: 73px;
	border-radius: 42%;
	padding-top: 25px;
}

.card_text{
	font-size: 14px;
	color: #a6a6a6;
	text-align: left;
	padding-top: 13px;
}

.cards{
	height: 270px;
	z-index: 20;
	background-color: white;
	text-align: left;
	padding-left: 35px;
	line-height: 1.6;
	
}

.button2{
	border-color: #20B2AA;
	background-color: white;
	border-radius: 4px;
	width: 120px;
	height: 30px;
	text-align: center;
	border-width: 1.3px 1.3px 1.3px 1.3px;
	font-size: 15px;
}